.navbar
{
    background-color: transparent;
    border: none;
    height: 80px;
}


.navbar img
{
    max-width: 140px;
}

.navbar-default .navbar-header .navbar-brand, .navbar-default #navbar .nav a
{
    color:white;
}





