body
{
    font-family: 'Open Sans', sans-serif;
    color: #0080b1;
    overflow-x: hidden;
}

h1
{
    font-size: 54px;
}

h3
{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

#rule
{
    background-color: #2878B5;
}

#cost
{
    background-color: transparent;
    width: 200px;
}

.navbar-expanded
{
    background-color: #ffffff;
    color: black;
    height: 60px;
    transition: all 0.5s ease;

}

.navbar-expanded-link
{
    color:#0080b1 !important;

}

.hover-background:before
{
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #0080b1;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.navbar-brand img
{
    width:100px;
    
}

#homepage
{
    /*background-color: #28a55f;*/
    background: url("../images/bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color:white;
}

#homepage h1
{
    font-size: 42px;
}


#homepage #home-description
{
    padding-top: 20vh;
}

#homepage #home-description-inner
{
    font-size: 20px;
    line-height: 1.8em;
}

#homepage .inner-container
{
    padding-left: 80px;
    padding-right: 80px;
}

#homepage .inner-container a:hover,
#homepage .inner-container a:link,
#homepage .inner-container a:active,
#homepage .inner-container a:visited,
a
{
    color: white;
    text-decoration: none;
}


#homepage #view
{
    background-color: transparent;
    width: 200px;
    height: 40px;
    border: 2px solid white;
    display:inline-block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}



.starts-hidden
{
    display:none;
}


#about, #contact
{

    background-color: #f5f5f5;
    padding: 100px 0;
}


#about .container, #index .container
{
    padding-top:40px;
}

.description, .opportunity
{
    width:75%;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
}

.description small
{
    font-size: 12px;
}

.description b
{
    color:#0080b1;
}

.description .thumbnail
{
    border: none;
    background-color: #f5f5f5;
}

.description-heading, .media-body
{
    margin-top:50px;
    font-size: 18px;
    color: #727878;
    line-height: 1.6em;
    padding-bottom:20px;
}

.description-heading-small
{
    margin-top:50px;
    font-size: 18px;
    color: #727878;
    line-height: 1.6em;
}


#index
{
    padding: 100px 0;
}



#maps
{
    padding: 100px 0;
}

#map
{
    margin-top: 40px;
    height: 800px;
}




.mPS2id-highlight:before
{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0%;
    right: 50%;
    bottom: 0;
    background: #0080b1;
    width: 100%;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}




.media h3
{
    color: black;
}

.media i
{
    height: 75px;
    width: 75px;
    line-height: 70px;
    text-align: center;
    border: 3px solid ;
    border-radius: 100%;
    font-size: 30px;
    color:black;
}

.media li
{
    margin-bottom:10px;
    font-size:18px;
    color:#727878;
}


#cost-list, #contact-detail
{
    padding-top:60px;
}


#funding
{
    padding: 100px;
}

#funding img
{
    max-width:240px;
    height:55px;
    padding-right:50px;
}

#funding h3
{
    padding:50px 0 20px 0;
}



#contact .contact-map
{
    height:235px;
}

#contact .contact-info
{
    color:#727878;
    font-size: 20px;
    line-height: 1.6em;
}

#contact .info-bottom
{
    padding-top: 30px;
}


.source
{
    font-size:12px;
}


.source  a:hover,
.source  a:link,
.source  a:active,
.source  a:visited,
.source a
{
    color: #0080b1;
    text-decoration: none;
}
