body
{
    font-family: 'Open Sans', sans-serif;
}

#homepage
{
    /*background-color: #28a55f;*/
    background: url("../images/bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color:white;
}

#homepage h1
{
    font-size: 42px;
}


#homepage #home-description
{
    padding-top: 20vh;
}

#homepage #home-description-inner
{
    font-size: 20px;
    line-height: 1.8em;
}

#homepage .inner-container
{
    padding-left: 80px;
    padding-right: 80px;
}

#homepage #view
{
    background-color: transparent;
    width: 200px;
    height: 40px;
    border: 2px solid white;
    display:inline-block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}



.starts-hidden
{
    display:none;
}


#about
{
    height: 800px;
    background-color: transparent;
}


#index
{
    height: 800px;
    background-color: transparent;
}



